body {
  text-align: center;
  width: 290px;
  margin: auto;
}

.Post {
  margin: 12px auto;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  align-content: center;
  text-align: center;
}

.Post__Image {
  max-width: 250px;
}

a {
  text-decoration: none;
  margin: 50px;
}
a.active {
  text-decoration: underline;
}

.apptitle {
  text-align: center;
  width: auto;
  margin: 10%;
}

.Nav {
  vertical-align: middle;
  background-color: aqua;
  overflow-wrap: break-word;
  width: 290px;
  height: auto;
}

.NavLink {
  width: auto;
  height: auto;
  margin: 210px 10px 100px 10px;
  overflow-wrap: break-word;
}
