body {
  text-align: center;
  width: 290px;
  margin: auto;
  background-color: silver-transparency;
  color: blue;
  font-family: sans-serif;
}

.Post {
  margin: 12px auto;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  background-color: silver;
}

.Post__Image {
  max-width: 250px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  margin: 50px;
}
a.active {
  text-decoration: underline;
}

.apptitle {
  text-align: center;
  width: auto;
  margin: 10%;
}

.Nav {
  vertical-align: middle;
  background-color: rgb(54, 64, 73);
  overflow-wrap: break-word;
  width: 290px;
  height: auto;
  border-radius: 100px;
}

.NavLink {
  width: auto;
  height: auto;
  margin: 210px 10px 100px 10px;
  overflow-wrap: break-word;
  color: whitesmoke;
}
